{
  "env": {
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "4"
            }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-classes"
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ">1%"
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-classes"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "4"
            }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-classes",
        "istanbul"
      ]
    }
  }
}
