{
  "env": {
    "cjs": {
      "presets": [
        ["env", {
          "targets": {
            "node": "4"
          }
        }]
      ],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "esm": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ">1%"
          },
          "modules": false
        }]
      ],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "4"
          }
        }]
      ],
      "plugins": [ 
        "transform-class-properties",        
        "istanbul"
      ]
    }
  }
}